.backdrop {
  display: none;
  position: fixed;
  inset: 0;
  backdrop-filter: blur(3px);
  z-index: 1;
}

.backdrop.active {
  display: block;
}

.myHeader {
  display: flex;
  background-color: #242526;
  padding: 10px 20px 0px 20px;
}

.myHeader > div {
  flex: 1;
}

.myHeader__option {
  align-self: flex-end;
}

.myBody {
  display: flex;
  background-color: #18191a;
  height: 100vh;
}

.myBody > div {
  flex: 1;
}