* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-height: 56px;
  --header-padding: 20px;
  --body-padding: 20px;
}

.hide {
  display: none;
}

.backdrop {
  display: none;
  position: fixed;
  inset: 0;
  backdrop-filter: blur(3px);
  z-index: 1;
}

.backdrop.active {
  display: block;
}

.myHeader {
  display: flex;
  align-items: center;
  background-color: #242526;
  height: var(--header-height);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  padding: 0 var(--header-padding);
}

.myHeader > div {
  flex: 1;
}

.myHeader__option {
  align-self: flex-end;
}

.myBody {
  display: flex;
  justify-content: space-between;
  background-color: #18191a;
  min-height: calc(100vh - var(--header-height));
  position: relative;
  top: var(--header-height);
  padding: var(--body-padding);
  min-width: 520px;
}

@media (max-width: 950px) {
  .myBody {
    justify-content: center;
  }
}

.myBody > * {
  flex: 1;
}