.login {
	display: grid;
	height: 100vh;
	background-color: #f0f2f5;
	place-items: center;
}

.login > img {
	width: 100px;
}

.login > div > button {
	display: block;
	width: 200px;
	background-color: #2374e1;
	color: #eff2f5;
	font-size: medium;
	font-weight: 800;
	border-color: #2374e1;
	margin-left: auto;
	margin-right: auto;
}