.login {
	display: grid;
	height: 100vh;
	background-color: #282c34;
	place-items: center;
}

.login > div > button {
	display: block;
	width: 200px;
	background-color: #2374e1;
	color: #eff2f5;
	font-size: medium;
	font-weight: 800;
	border-color: #2374e1;
	margin-left: auto;
	margin-right: auto;
}

.login > div > p {
	color: #eff2f5;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}
  
@media (prefers-reduced-motion: no-preference) {
	.App-logo {
	  animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}