.post {
  color: #b7b8bc;
  background-color: #242526;
  margin-top: 15px;
  border-radius: 5%;
  padding: 20px;
}

.post__header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.post__header > div {
  margin-left: 5px;
}

.post__header > div > * {
  margin: 0;
}

.post__header > div > p {
  font-size: small;
}

.post__body > p {
  margin-bottom: 20px;
}

.post__body > img {
  max-width: 100%;
}